* {
    margin: 0;
    padding: 0;
    font-family: "Arial", "Verdana", "SansSerif", "serif";
}

html, body {
    max-height: 100vh;
    max-width: 100vw;
    height: 100%;
}

img {
    max-width: 100vw;
    align-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

body {
    min-height: 100%;
}

#headerDiv {
    background-color: white;
}

#footerDiv {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 1vh;
}

#navigationDiv {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li, a {
    display: block;
    color: white;
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#headerH {
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

#link {
    color: black;
}